<footer class="footer">
    <div class="footer-content text-center">

        <h4>Nos réseaux</h4>
        <div class="social-icons">
            <a href="https://youtube.com/@businesssourcing8537?si=ndmWvfgGmQKXjzi8" class="mx-5">
                <i class="bi bi-youtube"></i>
            </a>
            <a href="https://www.tiktok.com/@darabuyingofficiel?_t=ZM-8uRyETwGyTG&_r=1" target="_blank" class="mx-5">
                <i class="bi bi-tiktok"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100054295925609" target="_blank" class="mx-5">
                <i class="bi bi-facebook"></i>
            </a>
        </div>
        
      </div>
  
    <div class="footer-bottom">
      <p>© 2025 RexStudio. All rights reserved.</p>
      <p>Data Processing</p>
    </div>
  </footer>