<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo ksc xchange t.png" class="img-logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav w-100">
        <li class="nav-item">
          <a class="nav-link" (click)="goTo('')">Acceuil</a>
        </li>
        <!--<li class="nav-item" (click)="goTo('about')">
          <a class="nav-link">A propos</a>
        </li>-->
        <!--<li class="nav-item" (click)="goTo('rate')">
          <a class="nav-link">Taux de change</a>
        </li>-->
        
        <li class="nav-item" (click)="goTo('contact')">
          <a class="nav-link">Contact</a>
        </li>
        @if(idUser){
          @if (firstLetterName) {
            <li class="nav-item" >
              <button class="btn-connect seeDesc " (click)="goTo('profil')" >
                <i class="bi bi-person"></i>
              </button>              
            </li>
          }
          <li class="nav-item" >
            <button class="btn-connect seeDesc" (click)="goTo('dash')">
              <i class="bi bi-house-door-fill"></i>
            </button>              
          </li>

        }
        
        @if(!firstLetterName){
          <li class="nav-item" (click)="goTo('login')">
            <a class="nav-link">Se connecter</a>
          </li>
          <li class="nav-item" (click)="goTo('inscription')">
            <a class="nav-link">S'inscrire</a>
          </li>
        }
        
        <div class="d-flex">          
          
          
        </div>
      </ul>
    </div>
  </div>
</nav>